<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.eeas.mapper.NewsMapper">
    
    <resultMap type="com.ruoyi.eeas.domain.News" id="NewsResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="link"    column="link"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectNewsVo">
        select id, type, title, link, content from eeas_news
    </sql>

    <select id="selectNewsList" parameterType="com.ruoyi.eeas.domain.News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectNewsById" parameterType="Long" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNews" parameterType="com.ruoyi.eeas.domain.News">
        insert into eeas_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null">type,</if>
            <if test="title != null">title,</if>
            <if test="link != null">link,</if>
            <if test="content != null">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null">#{type},</if>
            <if test="title != null">#{title},</if>
            <if test="link != null">#{link},</if>
            <if test="content != null">#{content},</if>
         </trim>
    </insert>

    <update id="updateNews" parameterType="com.ruoyi.eeas.domain.News">
        update eeas_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="title != null">title = #{title},</if>
            <if test="link != null">link = #{link},</if>
            <if test="content != null">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsById" parameterType="Long">
        delete from eeas_news where id = #{id}
    </delete>

    <delete id="deleteNewsByIds" parameterType="String">
        delete from eeas_news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>