<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.eeas.mapper.ScoreMapper">


    <select id="listScore" resultType="java.util.Map">
        select longitude, latitude, score
        from (select place_id, score from eeas_score where time = #{date} and task_id = #{taskId}) as a join eeas_place as b on a.place_id = b.id;
    </select>

    <select id="getHeatmapDataOfCertainPlace1" resultType="String">
        select score from eeas_score_for_patient_num_prediction where time = #{date} and task_id=#{taskId} and place_id=(select id from eeas_place where place=#{place});
    </select>

    <select id="getHeatmapDataOfCertainPlace2" resultType="String">
        select score from eeas_score_for_node_prediction where time = #{date} and task_id=#{taskId} and place_id=(select id from eeas_place where place=#{place});
    </select>

    <select id="getHeatmapDataOfCertainPlace3" resultType="String">
        select score from eeas_score_for_patient_num_prediction_cluster where time = #{date} and task_id=#{taskId} and place_id=(select id from eeas_place where place=#{place});
    </select>

    <select id="getHeatmapDataOfCertainPlace4" resultType="String">
        select score from eeas_score_for_node_prediction_cluster where time = #{date} and task_id=#{taskId} and place_id=(select id from eeas_place where place=#{place});
    </select>

</mapper>